<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Updates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    />
    <style>
      /* Add custom styles if needed */
      /* .card {
            margin-bottom: 20px;
        } */
    </style>
  </head>

  <body>
    <br />
    <hr style="border-width: 2px; border-color: black" />
    <center><h1>Updates and Release Notes!</h1></center>
    <hr style="border-width: 2px; border-color: black" />
    <div class="container mt-4">
      <div class="card text-center">
        <div class="card-header">Version 4.5</div>
        <div class="card-body">
          <h5 class="card-title">Added Hindi Tab</h5>
          <p class="card-text">
            Added Hindi tab and also modified edit functionality, changed chord
            position, storing song_logs edit, add and delete.<br />
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </p>
        </div>

        <div class="card-footer text-muted">24th Feb, 2024</div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="card text-center">
        <div class="card-header">Version 4.4</div>
        <div class="card-body">
          <h5 class="card-title">Added Malayalam Tab</h5>
          <p class="card-text">
            Added malayalam tab and also resolved bugs in search, updated
            dashboard.<br />
            <b>Started using in Banglore.</b>
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">24th Jan, 2024</div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="card text-center">
        <div class="card-header">Version 4.3</div>
        <div class="card-body">
          <h5 class="card-title">Added Telugu Tab</h5>
          <p class="card-text">
            Added telugu tab and also extra fetures such as blank page and black
            page and full screen option.<br />
            <b>First time used in Hyderabad Camp Meeting.</b>
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">15th Jan, 2024</div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="card text-center">
        <div class="card-header">Version 4.2</div>
        <div class="card-body">
          <h5 class="card-title">Controls page</h5>
          <p class="card-text">
            Added Controls Page for worship leaders to control. <br />
            <b>First time used in Bethabara Camp Meeting.</b>
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">23rd December, 2023</div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="card text-center">
        <div class="card-header">Version 4.1</div>
        <div class="card-body">
          <h5 class="card-title">Deployed on-premises</h5>
          <p class="card-text">
            Bought Domain oilnwine.live and deployed on premises. <br /><b
              >Started using in Chennai.</b
            >
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">17th December, 2023</div>
      </div>
    </div>
    <hr style="border-width: 2px; border-color: black" />
    <div class="container mt-4">
      <div class="card text-center">
        <div class="card-header">Version 3.4</div>
        <div class="card-body">
          <h5 class="card-title">Add, Edit and Delete Songs</h5>
          <p class="card-text">
            Adding Song feature. Also users can add, edit and delete songs only
            if they have permission from admin.
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">1st December, 2023</div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="card text-center">
        <div class="card-header">Version 3.3</div>
        <div class="card-body">
          <h5 class="card-title">Share Songs and Tamil Tab added</h5>
          <p class="card-text">
            Can able to share songs with others and a seperate tamil tab for
            tamil songs added.
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">28th November, 2023</div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="card text-center">
        <div class="card-header">Version 3.2</div>
        <div class="card-body">
          <h5 class="card-title">Edit Songs Feature</h5>
          <p class="card-text">
            Song Editing Feature added along with login and signup page.
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">21st November, 2023</div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="card text-center">
        <div class="card-header">Version 3.1</div>
        <div class="card-body">
          <h5 class="card-title">Technology Stack Changed</h5>
          <p class="card-text">Everything done in real time.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">18th November, 2023</div>
      </div>
    </div>
    <hr style="border-width: 2px; border-color: black" />
    <div class="container mt-4">
      <div class="card text-center">
        <div class="card-header">Version 2</div>
        <div class="card-body">
          <h5 class="card-title">Deployed</h5>
          <p class="card-text">
            Everything deployed in the web and functional. <br />
            <b>1st Time tried in Delhi Camp Meeting</b>
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">22nd October, 2023</div>
      </div>
    </div>
    <hr style="border-width: 2px; border-color: black" />
    <div class="container mt-4">
      <div class="card text-center">
        <div class="card-header">Version 1.4</div>
        <div class="card-body">
          <h5 class="card-title">Font Controls Added</h5>
          <p class="card-text">
            FOnt controls along with 3 fixed users created.
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">20th October, 2023</div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="card text-center">
        <div class="card-header">Version 1.3</div>
        <div class="card-body">
          <h5 class="card-title">Display Page Integrated</h5>
          <p class="card-text">
            A seperate display page to view songs created with no controls.
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">16th October, 2023</div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="card text-center">
        <div class="card-header">Version 1.2</div>
        <div class="card-body">
          <h5 class="card-title">Searching Functionality Added</h5>
          <p class="card-text">
            Search button along with mobile friendly view updated.
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">8th October, 2023</div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="card text-center">
        <div class="card-header">Version 1.1</div>
        <div class="card-body">
          <h5 class="card-title">Song Viewer</h5>
          <p class="card-text">Can View all the Songs.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted">
          15th May, 2023 - 30th September, 2023
        </div>
      </div>
    </div>
    <hr style="border-width: 2px; border-color: black" />
    <!-- <br><br> -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
